<div class="container">
	<section style="padding-bottom: 50px; padding-top: 50px;">
		<h1>Noten Übersicht</h1>


		 <div class="row">
		  <label class="col-sm-2" for="semesterId">Semester ausw&aumlhlen:</label>
		  <div class="col-sm-2">
		  <select class="form-control" id="semesterId" ng-model="aktuelleSemesterId" ng-change="changeSemester(semester.semesterId)">
		    <option ng-repeat="semester in semesterList"
					ng-bind="semester.semesterName" value="{{semester.semesterId}}"></option>
		 
		  </select>
		  </div>
		</div>
		
		<div ng-if="(vorlesungList.length !== 0)">
		<div class="table-responsive" >
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="120"></th>
						<th width="120">Angestrebte Note</th>
						<th width="120">Erhaltene Note</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="vorlesung in vorlesungList">
						<td ng-bind="vorlesung.vorlesungName"></td>
						<td ng-bind="vorlesung.angestrebteNote"></td>
						<td ng-bind="vorlesung.endNote"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="row">
			<div class="col-sm-2">
				<label for="vorlesungName">Angestrebter Durchschnitt:</label>
			</div>
			<div class="col-sm-5">
				<p class="form-control-static" ng-bind="avarage.angestrebteNote | number : 2">test</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="vorlesungName">Semester Durchschnitt:</label>
			</div>
			<div class="col-sm-5" ng-if="avarage.erhalteneNote != 0">
				<p class="form-control-static" ng-bind="avarage.erhalteneNote | number : 2" style="padding-top: 0px;"></p>
			</div>
			<div class="col-sm-5" ng-if="avarage.erhalteneNote == 0">
				<p class="form-control-static"  style="padding-top: 0px;">-</p>
			</div>
		</div>
		</div>
		
		
		<div class="table-responsive" ng-if="((vorlesungList.length === 0 ) && (aktuelleSemesterId !== null ))">
			<p>Sie haben für dieses Semester noch keine Vorlesung angelegt!</p>
		</div>
		<div class="table-responsive" ng-if="(aktuelleSemesterId === null )">
			<p>Sie haben noch kein Semester ausgew&aumlhlt!</p>
		</div>
	</section>
	<!-- SECTION END -->

	<!-- CONATINER END -->

</div>

<!--  <pre>{{vorlesungList | json}}</pre>-->