<div class="modal-header" style="background-color: green; color: white;">
	<button type="button" class="close" ng-click="closeModal()">&times;</button>
	<h4 style="color: white;">
		<span></span> Registrieren
	</h4>
</div>

<div class="modal-body" id="modal-bodyLinks">
	<div>
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<form name="registerForm" autocomplete="off">
		<div class="form-group form-groupNeu">
			<label for="username"><span class="glyphicon glyphicon-user"></span>
				Username</label> <input type="text" name="username" class="form-control"
				id="username" required="required" placeholder="Username eingeben"
				ng-model="user.userName">
		</div>
		<div class="form-group form-groupNeu">
			<label for="password"><span
				class="glyphicon glyphicon-eye-open"></span> Password</label> <input
				type="password" name="password" class="form-control" id="password"
				required="required" placeholder="Passwort eingeben"
				ng-model="user.passwort">
		</div>
		<div class="form-group form-groupNeu">
			<label for="passwordRepeat"><span
				class="glyphicon glyphicon-eye-open"></span> Password</label> <input
				type="password" name="passwordRepeat" class="form-control"
				id="passwordWieder" required="required"
				placeholder="Passwort wiederholen">
		</div>
		<div class="form-group form-groupNeu">
			<label for="email"><span class="glyphicon glyphicon-envelope"></span>
				E-Mail</label> <input type="email" name="email" class="form-control"
				id="email" required="required" placeholder="E-Mail eingeben"
				ng-model="user.email">
		</div>
		<div class="form-group form-groupNeu">
			<label for="university"><span
				class="glyphicon glyphicon-home"></span> Hochschule</label> <input
				type="text" name="university" class="form-control" id="university"
				required="required" placeholder="Name der Hochschule"
				ng-model="user.hochschule">
		</div>
		<div class="form-group" style="text-align: right;">
			<button value="register" ng-click="userRegistrieren()"
				ng-disabled="registerForm.$invalid"
				class="btn btn-default btn-success" id="buttonRegisterM">
				<span class="glyphicon glyphicon-ok"></span> Registrieren
			</button>
		</div>
	</form>

</div>

<div class="modal-footer footerERG">
	<button type="submit" class="btn btn-default btn-default pull-left"
		ng-click="closeModal()">
		<span class="glyphicon glyphicon-remove"></span> Cancel
	</button>


</div>