<div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">
        		<h1>Semester</h1>
				
				
				<div class="table-responsive">
				    <table class="table table-hover">
				    <thead>
				    <tr>
				        <th width="120">Semester Name</th>
				        <th width="120">Start Datum</th>
				        <th width="120">End Datum</th>
				        <th width="60">Edit</th>
				        <th width="60">Delete</th>
				    </tr>
				    </thead>
				   <tbody>
				        <tr ng-repeat="semester in semesterList">
				            <td ng-bind="semester.semesterName"></td>
				            <td ng-bind="semester.startDatum"></td>
				            <td ng-bind="semester.endDatum"></td>
				            <td> <button type="button" class="btn btn-default" ng-click="editSemester(semester.semesterId)">Bearbeiten</button></td>
				            <td><a ng-click="deleteSemester(semester.semesterId)" style="cursor: pointer"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
				        </tr> 
				    </tbody>   				     
				    </table>
				    </div>
				<button type="button" class="btn btn-default" ng-click="newSemester()">Neues Semester</button>
        </section>
        <!-- SECTION END -->
    
    <!-- CONATINER END -->
  	
</div>


