<div class="jumbotron text-center" id="jumboFenster">
	<div class="container" id="containerFenster">
		<img src="img/Logo.png" style="max-width: 30%;">
		<h1>effort Management</h1>
		<p>Plane dein Semester</p>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<button type="button" class="btn btn-info btn-lg"
					data-toggle="modal" ng-click="openLogin()" id="buttonLogin">LOGIN</button>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-info btn-lg"
					data-toggle="modal" ng-click="openRegistrieren()" data-keyboard="true"
					id="buttonRegister">Registrieren</button>
			</div>
			<!-- Modal ENDE -->
		</div>
		<div class="col-md-2"></div>
		<!-- <div class="row">

			<div class="col-md-12 colmitte">

				<a href="#about" role="button" class="page-scroll"><button
						type="button" class="btn-lg btn-round">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</button></a>

			</div>

		</div> -->
	</div>
</div>



<!-- Container (About Section) -->
<div id="about" class="container-fluid container-fluid2">
	<div class="row">
		<div class="col-sm-8">
			<h2>About effortManagement</h2>
			<br>
			<h4>effortManagement ist eine Webanwendung, welche Terminplanung
				und Aufwand f&uuml;r einzelne Vorlesungen/F&auml;cher koordiniert.
				Die Anwendung unterst&uuml;tzt den Studenten von Beginn des
				Semesters bei der Planung und gibt detaillierte Aufschl&uuml;sse bei
				der Reflexion des Lernaufwands.</h4>
			<br>
			<p>Wenn ein dualer Student die Summe aus den fixen
				Vorlesungstunden und den eingetragenen Heimarbeitsstunden bildet
				ergibt sich f&uuml;r ihn, je nach Semester, ein Aufwand zwischen
				f&uuml;nfzig und siebzig Stunden pro Woche. Der duale Student ist
				darauf angewiesen die ihm zur Verf&uuml;gung stehende Zeit
				m&ouml;glichst effektiv zu nutzen. Wir m&ouml;chten eine Anwendung
				entwickeln die es jedem Student erm&ouml;glicht einen individuellen
				Lernplan zu erstellen und dauerhaft anzupassen. Dazu tr&auml;gt der
				er zu Beginn jedes Semesters seine Vorlesungen ein. An dieser Stelle
				muss der Benutzer entscheiden wie viel Zeit er tats&auml;chlich
				f&uuml;r jedes Fach einplant und welche Note er anstrebt. In einem
				Zeitplan kann nun die angestrebte Lernzeit auf konkrete Tage
				eingeteilt werden.</p>
			<p>Features:</p>
			<ul>
				<li>Aufgabenplanung</li>
				<li>Vorlesungsplan</li>
				<li>Langzeitauswertung / Reflexion</li>
				<li>Semester&uuml;bersicht / Lerneffizienz</li>
			</ul>
			<br>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-signal logo"></span>
		</div>
	</div>
</div>

<div class="container-fluid container-fluid2 bg-grey">
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-globe logo"></span>
		</div>
		<div class="col-sm-8">
			<h2>Our Values</h2>
			<br>
			<h4>
				<strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet,
				consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</h4>
			<br>
			<p>
				<strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet,
				consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat.
			</p>
		</div>
	</div>
</div>
<footer class="container-fluid container-fluid2 text-center">
	<a ng-click="scrollToTop()" title="To Top"> <span
		class="glyphicon glyphicon-chevron-up" style="cursor: hand;"></span>
	</a>
	<p>
		Bootstrap Theme Made By <a href="http://www.w3schools.com"
			target="_blank" title="Visit w3schools">www.w3schools.com</a>
	</p>
</footer>


</body>
</html>

