		<div class="modal-header " style="background-color:green">
          <button type="button" class="close" ng-click="closeModal()">&times;</button>
          <h4 style="color:white;"><span ></span>Profil anpassen</h4>
        </div>
        <div class="modal-body" id="modal-bodyLinks">
 		 <div>
			<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  		</div>
		   
		<form autocomplete="off">
            <div class="form-group form-groupNeu">
              <label for="benutzername">Benutzername:</label>
              <input type="text" name="benutzername" class="form-control" id="benutzername" required="required" placeholder="Benutzername eingeben" ng-model="user.userName">
            </div>
            <div class="form-group form-groupNeu">
              <label for="email">E-Mail:</label>
              <input type="email" name="email"  class="form-control" id="email" required="required" placeholder="E-mail Adresse eingeben" ng-model="user.email">
            </div>
			 <div class="form-group form-groupNeu">
              <label for="hochschule">Hochschule:</label>
              <input type="text" name="hochschule"  class="form-control" id="hochschule" required="required" placeholder="Name der Hochschule eingeben" ng-model="user.hochschule">
            </div>
		  
            <div class="form-group" style="text-align: right;">
            <button type="button" value="aendernPass" class="btn btn-default btn-warning" id="buttonProfilAnpassenM" ng-click="editUser()"><span class="glyphicon glyphicon-ok"></span> Bestätigen</button>
      		</div>
       </form>
       
        </div>

		 <div class="modal-footer footerERG" >
          <button type="button" class="btn btn-default btn-default pull-left" ng-click="closeModal()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
         
       
        </div>




