<div class="container">
	<section style="padding-bottom: 50px; padding-top: 50px;">
		<h1>Vorlesung Aufwand / Nutzen</h1>

		<div class="row">
			<form name="myForm">
			<div class="col-sm-2">
				<div class="form-group">
					<label for="semester">Semester wählen:</label> <select
						class="form-control" id="semester" ng-model="aktuelleSemesterId"
						ng-change="changeSemester()" required>
						<option ng-repeat="semester in semesterList"
							ng-bind="semester.semesterName" value="{{semester.semesterId}}"></option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<label for="vorlesung">Vorlesung wählen:</label> <select
						class="form-control" id="vorlesung" ng-model="aktuelleVorlesungId"
						required>
						<option ng-repeat="vorlesung in vorlesungList"
							ng-bind="vorlesung.vorlesungName" value="{{vorlesung.vorlesungId}}"></option>

					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
					<br>

					<button type="button" id="button" class="btn btn-primary"
						ng-click="showAufwand()" ng-disabled="!myForm.$valid">Aufwand anzeigen</button>
					
					
				</div>
			</div>
			</form>
			
		</div>
		<div class="row" style="border: 1px solid black" ng-hide="aufwand == null">
			<div class="container">
				<h3 ng-bind="aufwand.vorlesungName"></h3>
				<hr />
				<div class="row">
					<div class="col-sm-2">
						<label class="form-control-static">Vorgegebener Aufwand:</label>
					</div>
					<div class="col-sm-3">
						<p class="form-control-static" ng-bind="aufwand.aufwand"></p>
					</div>
					<div class="col-sm-2">
						<label class="form-control-static">Geplanter Aufwand:</label>
					</div>
					<div class="col-sm-3">
						<p class="form-control-static" ng-bind="aufwand.geplanterAufwand"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<label class="form-control-static">Gebuchter Aufwand:</label>
					</div>
					<div class="col-sm-3">
						<p class="form-control-static" ng-bind="aufwand.lernzeit"></p>
					</div>
				</div>
				<div class="row">

					<div class="col-sm-2">
						<label class="form-control-static">Angestrebte Note:</label>
					</div>
					<div class="col-sm-3">
						<p class="form-control-static" ng-bind="aufwand.angestrebteNote"></p>
					</div>


					<div class="col-sm-2">
						<label class="form-control-static">Erreichte Note:</label>
					</div>
					<div class="col-sm-3" ng-if="aufwand.endNote != 0">
						<p class="form-control-static" ng-bind="aufwand.endNote"></p>
					</div>
					<div class="col-sm-3" ng-if="aufwand.endNote == 0">
						<p class="form-control-static">-</p>
					</div>

				</div>
				<hr />
				<div class="row">
					<div class="col-sm-5">
						<h3>Aufwand/Nutzen Rechner:</h3>
					</div>
					<div class="col-sm-5" ng-if="aufwand.endNote != 0">
						<h3 ng-bind="aufwand.aufwandNutzen"></h3>
					</div>
					<div class="col-sm-5" ng-if="aufwand.endNote == 0">
						<h3>Tragen Sie zuerst eine Endnote ein!</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- SECTION END -->

	<!-- CONATINER END -->

</div>