
<div class="modal-header " style="background-color: orange">
	<button type="button" class="close" ng-click="closeModal()">&times;</button>
	<h4 style="color: white;">
		<span></span> Endnote eintragen
	</h4>
</div>
<div class="modal-body" id="modal-bodyLinks">
	<div>
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<form name="endNoteForm" class="form-horizontal"
		autocomplete="off">

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<label for="vorlesungName">Vorlesungs Name:</label>
			</div>
			<div class="col-sm-5">
				<p class="form-control-static" ng-bind="vorlesung.vorlesungName"></p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<label for="aufwandHinz">Endnote:</label>
			</div>
			<div class="col-sm-5">
				<div class="input-group">
					<input type="number" name="endNoteEintragen" class="form-control"
						id="endNoteEintragen" required="required" min="1" step="0.1" max="6"
						ng-model="endNote.endNote">
					<div class="input-group-addon"></div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-5">
				<button type="button" class="btn btn-default btn-warning"
					ng-click="endNoteEintragen()" ng-disabled="endNoteForm.$invalid">
					<span class="glyphicon glyphicon-ok"></span>Endnote eintragen
				</button>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer footerERG">
	<button type="button" class="btn btn-default btn-default pull-left"
		ng-click="closeModal()">
		<span class="glyphicon glyphicon-remove"></span> Cancel
	</button>


</div>
