
<div class="modal-header " style="background-color: orange">
	<button type="button" class="close" ng-click="closeModal()">&times;</button>
	<h4 style="color: white;">
		<span></span> Aufwand erstellen
	</h4>
</div>
<div class="modal-body" id="modal-bodyLinks">
	<div>
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)">{{alert.msg}}</uib-alert>
	</div>
	<form name="bucheAufwandForm" class="form-horizontal"
		autocomplete="off">

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<label for="vorlesungName">Vorlesungs Name:</label>
			</div>
			<div class="col-sm-5">
				<p class="form-control-static" ng-bind="vorlesung.vorlesungName"></p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<label for="creditPoints">Momentane Lernzeit:</label>
			</div>
			<div class="col-sm-5">
				<p class="form-control-static" ng-bind="vorlesung.lernzeit + ' Stunden'"></p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<label for="aufwandHinz">Aufwand hinzugefügen:</label>
			</div>
			<div class="col-sm-5">
				<div class="input-group">
					<input type="number" name="aufwandHinz" class="form-control"
						id="aufwandHinz" required="required" min="0" step="1" 
						ng-model="aufwand.zeit">
					<div class="input-group-addon">Stunden</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-5">
				<button type="button" class="btn btn-default btn-warning"
					ng-click="bucheAufwand()" ng-disabled="bucheAufwandForm.$invalid">
					<span class="glyphicon glyphicon-ok"></span>Aufwand hinzubuchen
				</button>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer footerERG">
	<button type="button" class="btn btn-default btn-default pull-left"
		ng-click="closeModal()">
		<span class="glyphicon glyphicon-remove"></span> Cancel
	</button>


</div>
